@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family:"montserrat";

}


.header{
    display: flex;
    justify-content: space-between;
    padding: 20px 60px;
    align-items: center;
}
.header I{
    display: none;
}

.header ul{
    display: flex;
    gap: 30px;
    list-style: none;
    align-items:center;
    font-size: 18px;
    color:rgb(124, 38, 205);
}
.fa-solid {
    color: black;
}

.contact-btn{
    background-color:rgb(124, 38, 205) ;
    padding: 8px 23px;
    border: none;
    border-radius:5px;
    font-size: 13px;
    color: white;   
}

.container{
    background-image:linear-gradient(rgba(124, 38, 205,0.6), rgba(124,38,205,0.6)),url(./assigmet_1-assrts/picture\ two.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 600px;
}

.main{
    display: flex;
    padding: 60px 60px;
    justify-content: space-around;
    gap: 70px;
}

.main-left{
    color: white;
}
.main-left p{
    width: 400px;
    line-height: 25px;
}

.main-left h1{
    font-size:50px;
    width: 450px;
    padding: 20px 0px ;
    
}
.main-left .read-btn{
    background-color:white;
    padding: 10px 23px;
    border: none;
    border-radius:5px;
    font-size: 13px;
    color:rgb(124, 38, 205); 
    margin-top: 40px;
}

.main-right img{
    width: 450px;
    border-radius:15px;
} 


/* //////////////////////////////// */
/* section_two */

.middel{
    display: flex;
    margin: 50px 50px;
    position: relative;
    margin-bottom: 100px;
}

.f-child img{
    width: 1150px;
    height: 500px;
    margin-top: 160px;
}

.s_child{
    width: 550px;
    position: absolute;
    bottom: -150px;
    left: 530px;
    background-color:white;
    border-radius: 10px;
    margin: 40px;
    padding: 20px 40px;
    
}

.cunug2-1{
    display: flex;
    gap: 20px;
    padding-bottom: 10px;
   
}

.s_child h1{
    font-size: 30px;
    padding-bottom: 10px;
}

.s_child p{
    padding-bottom: 10px;
}

.s_child button{
    padding: 15px 40px;
    border-radius: 10px;
    box-shadow: 0px 0px 6px blueviolet;
    color: blueviolet;
    border: none;
    font-size: 15px;
}

.labo{
    display: flex;
    justify-content: space-between;
    padding: 80px 80px;
}

.labo button{
    padding: 15px 45px;
    background-color: blueviolet;
    border: none;
    border-radius: 5px;
    color: white;
}

.hoos{
    display: flex;
    justify-content: space-between;
    padding: 20px 70px;
    gap: 40px;
}

.hoos1 img{
    width: 800px;
}

.hoos2 h1{
    font-size: 40px;
    padding-bottom: 20px;
}

.hoos2-1{
    display: flex;
    gap: 30px;
    padding-bottom: 20px;
}

.hoos2 p{
    padding-bottom: 20px;
}

.hoos2 button{
    padding: 15px 40px;
    border-radius: 10px;
    box-shadow: 0px 0px 6px blueviolet;
    color: blueviolet;
    border: none;
    font-size: 15px;
}

.divhooyo{
    display: flex;
    gap: 20px;
    padding: 30px 70px;
}
.div1 img{
    width: 350px;
}

.div1 h1{
    padding-bottom: 10px;
    font-size: 25px;
}

.div1 p{
    padding-bottom: 20px;
}

/* ///////// my_footer1-/////////////// */

.m_footer{
    height: 500px;
    background-color: #7c4ee4;
    color: white;
    margin-bottom: 20px;
    text-align: center;
}
.f-content{
    padding: 50px 0px;
}
.f-content h1{
    font-size: 40px;
    padding: 20px 0px;
}
.f-content button{
    padding: 15px 30px;
    margin: 20px 0px;
    border-radius: 13px;
    font-size: 17px;
    font-weight:600px;
}
.f-content p{
    padding: 10px 0px;
    
}

.f-content .email{
    background-color: white;
    color: black;
    border: none;
    
}
.f-content .start{
    background-color: transparent;
    color: blue;
    border: 1px solid blue;
    margin-left: 20px;
}









/* ///////// end footer //////////////////// */


.footer{
    background-color: blueviolet;
    height: 500px;
    padding-top: 20px;
    text-align: center;
    color: white;
}
.footer h1{
    font-size: 80px;
    padding: 80px 240px;
    padding-top: 40px;
}

.footer p{
    padding: 20px 450px;
    padding-bottom: 40px;
}

.B2{
    padding: 10px 20px;
    border-radius: 6px;
    color:white;
    border: none;
    border: 2px solid white;
    font-size: 15px;
    background-color: blueviolet;
}

.B1{
    padding: 15px 100px;
    border-radius: 10px;
    box-shadow: 0px 0px 6px blueviolet;
    color: blueviolet;
    border: none;
    font-size: 15px;
   
}

.icon{
    text-align: center;
    padding-top: 40px;
}

.icon img{
    padding-bottom: 40px;
    padding-right: 80px;
}

.icon ul{
    display: flex;
    list-style: none;
    gap: 40px;
    padding: 0px 600px;
    padding-bottom: 30px;
}

.icon hr{
    color: blueviolet;
    size: 20px;
    margin: 0px 200px;
}

.icon p{
    font-size: 30px;
    padding-top: 30px;
}
.logos{
    display: flex;
    justify-content: center;
}
.logos img{
    width: 40px;
    cursor: pointer;
}
.links ul{
    display: flex;
    gap: 30px;
    margin-top: 20px;
    list-style: none;
    justify-content: center;
    cursor: pointer;
}
.contects{
    display: flex;
    gap: 8px;
    justify-content: center;
    margin: 20px;
}
.contects button{
    background-color: #7c4ee4;
    border: none;
    border-radius: 100%;
    padding: 8px;
    font-weight: bold;
    color: white;
}

/* /////////// responsive part /////////////////////? */

@media screen and (max-width:600px){
    .header ul{
        display: none;
    }
    .header{
        padding: 25px;
    }
    .header i{
        font-size: 25px;
    }
    .main{
        flex-direction: column;
        padding: 20px;
    }
    .main-left h1{
        font-size: 30px;
    }
    .main-left p{
        width: 350px;
        line-height: 20px;
    }
    .main-left h1{
        font-size: 30px;
        width: 400px;
    }
    .main-left .read-btn{
        margin-top: 15px;
        margin-bottom: 30px;
    }
    .main-right{
        height: 1000px;
    }
    .main-right img{
        width: 350px;
        height: 350px;
        border-radius:15px;
    } 
    .middel{
        flex-direction: column;
        margin: 30px 60px;
        align-items: center;
        /* position: relative; */
    }
    .f-child img{
        width: 320px;
        height: 260px;
        padding: 30px 30px;
    }
    .s_child{
        width: 300px;
        /* position: absolute; */
        /* bottom: -320px;
        left: -95px; */
        border-radius: 10px;
        margin: 10px 40px 10px 40px;
        padding: 20px 18px;
        margin-top: -10px;
        
    }
    .s_child h1{
        font-size: 25px;
    }
    .s_child button{
        padding: 10px 15px;
        border-radius: 10px;
        box-shadow: 0px 0px 6px blueviolet;
        color: blueviolet;
        border: none;
        font-size: 13px;
        margin-top: 10px;
    }
    .divhooyo{
        flex-direction: column;
        gap: 10px;
        padding: 10px 30px;
        align-items: center;
    }
    .divhooyo img{
        width: 350px;
        
    }
    .div1 h1{
        padding-bottom: 10px;
        font-size: 30px;
    }
    
    .div1 p{
        padding-bottom: 10px;
    }
    .labo{
        padding: 20px;
        gap: 80px;
        justify-content: space-between;
    }
    .m_footer{
        height: 400px;
        background-color: #7c4ee4;
        color: white;
        margin-bottom: 20px;
        text-align: center;
    }
    .f-content{
        padding: 10px 0px;
    }
    .f-content h1{
        font-size: 30px;
        padding: 10px 0px;
    }
    .f-content button{
        padding: 15px 25px;
        margin: 20px 0px;
        border-radius: 13px;
        font-size: 17px;
        font-weight:600px;
    }
    .f-content p{
        padding: 20px 0px;
        margin: 10px 0px;
        
    }
    .f-content h1{
        font-size: 25px;
        padding: 20px;
    }

    
}




